<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" />
  </system.web>
  
  <system.serviceModel>
    <services>
      <service name="Ecommerce.WCF.Service1">
        <host>
          <baseAddresses>
            <add baseAddress = "https://localhost:8734/Design_Time_Addresses/Ecommerce.WCF/Service1/" />
          </baseAddresses>
        </host>
        <endpoint address="" binding="basicHttpBinding" contract="Ecommerce.WCF.IService1" bindingConfiguration="CertificateBinding">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceCredentials>
            <clientCertificate>
              <authentication certificateValidationMode="None" revocationMode="NoCheck" trustedStoreLocation="LocalMachine"/>
            </clientCertificate>
            <serviceCertificate findValue="EcommerceCertificate" storeLocation="LocalMachine" storeName="My" x509FindType="FindBySubjectName"/>
          </serviceCredentials>
          <serviceMetadata httpsGetEnabled="True" httpsGetUrl="https://localhost:8734/Design_Time_Addresses/Ecommerce.WCF/Service1/"/>
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
   <bindings>
     <basicHttpBinding>
       <binding name="CertificateBinding">
         <security mode="Transport">
           <transport clientCredentialType="None"></transport>
         </security>
       </binding>
     </basicHttpBinding>
   </bindings>
  </system.serviceModel>

</configuration>
