<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" />
  </system.web>

  <system.serviceModel>
    <services>
      <service name="Ecommerce.WCF.Service1">
        <host>
          <baseAddresses>
            <add baseAddress = "https://localhost:8734/Design_Time_Addresses/Ecommerce.WCF/Service1/" />
          </baseAddresses>
        </host>
        <endpoint address="" binding="metroBinding" contract="Ecommerce.WCF.IService1" bindingConfiguration="interopBinding">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceCredentials>
            <clientCertificate>
              <authentication certificateValidationMode="ChainTrust" revocationMode="NoCheck" trustedStoreLocation="LocalMachine"/>
            </clientCertificate>
            <serviceCertificate findValue="c6f91398ac68e882e8bc7febb809a73f37ebc419" storeLocation="LocalMachine" storeName="My" x509FindType="FindByThumbprint"/>
          </serviceCredentials>
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True" httpsGetUrl="https://localhost:8734/Design_Time_Addresses/Ecommerce.WCF/Service1/"/>
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <!--<metroBinding>
        <binding name="interopBinding" messageEncoding="Text">
          <security mode="MutualCertificate" establishSecurityContext="false" algorithmSuite="Basic128" />
        </binding>
      </metroBinding>-->
      <basicHttpBinding>
        <binding name="CertificateBinding">
          <security mode="Transport">
            <transport clientCredentialType="Certificate"></transport>
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <extensions>
      <bindingExtensions>
        <add name="metroBinding" type="Microsoft.ServiceModel.Interop.Metro.Configuration.MetroBindingCollectionElement, Microsoft.ServiceModel.Interop, Version=1.0.0.0, Culture=neutral, PublicKeyToken=4fc38efee625237e" />
      </bindingExtensions>
    </extensions>
  </system.serviceModel>

</configuration>
